.forum {
    margin-top: 120px;
    color:white;
}

.forum h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
}

.forum a {
    all: unset;
    cursor: pointer;
}

.forum ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.forum li {
    padding: 30px;
}