.search-bar {
    display: flex;
    flex-direction: roq;
    margin: auto;
    width: 500px;
}

.search-bar input {
    color: black;
    width: 80%;
    height: 50px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    padding: 0px 20px;
}

.search-bar button {
    margin-top: -1px;
    padding: 10px;
    width: 20%;
    height: 52px;
    background: #0B132B;
    border: none;
    color: #fff;
    border-radius: 0px 10px 10px 0px;
}

.search-bar button:hover {
    opacity: 0.9;
    cursor: pointer;
}

@media only screen and (max-width: 1180px) {
    .search-bar {
      width: 300px;
    }
  }